<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>Runaway</h1>
      <p>Record your athletic activity using one of the many compatible GPS devices. ... You can also use one of over 50 compatible GPS devices. ... Can I add runs and rides manually, or do I have to use a GPS device?</p>
    </div>
  </div>
</div>